.appBarTitle {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
    color: white;

    -webkit-text-stroke: 1.5px red;

    font-size: "32px";
    font-weight: "bolder";
    align-items: center;
    margin-left: auto;

}

.toolBarStyle {
    background: '#CC080B';


}

.drawerTitle {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: black;
    -webkit-text-stroke: 1.2px black;

    /* align-items: center; */
    text-align: center;
    justify-content: center;
  

}